.section-header {
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}

.section-content {
  padding-bottom: 1rem;
}

.sound-container {
  display: inline-block;
  vertical-align: top;
  margin: .5rem;
  width: 100%;
  max-width: 30rem;
}

#pokemon-name {
  font-size: 2.1rem;
  margin-left: .5rem;
}

#pokemon-id,
#pokemon-name {
  vertical-align: baseline;
}

.pokemon-forms-div .wrapper.inline {
  max-width: 35rem;
}