html.scrolling {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scrollable {
  position: relative;
  overflow: hidden;
}

.scrollbar {
  z-index: 5;
}

.scrollbar.axis-y {
  width: 1rem;
  height: 100%;
}

.scrollbar.axis-y .scrollbar-slider {
  width: 100%;
  right: 0;
}

.scrollbar.axis-x {
  height: 1rem;
  width: 100%;
}

.scrollbar.axis-x .scrollbar-slider {
  height: 100%;
  bottom: 0;
}

.scrollbar-slider {
  background-color: #626262;
}

.scrollbar-slider:hover {
  background-color: #727272;
}

.scrollbar-slider:active {
  background-color: #828282;
}

.scrollbar,
.scrollbar-slider {
  position: absolute !important;
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  -o-transition: background .3s ease, opacity .3s ease, visibility .3s ease, color .3s ease !important;
  -moz-transition: background .3s ease, opacity .3s ease, visibility .3s ease, color .3s ease !important;
  -webkit-transition: background .3s ease, opacity .3s ease, visibility .3s ease, color .3s ease !important;
  transition: background .3s ease, opacity .3s ease, visibility .3s ease, color .3s ease !important;
}