.type {
  width: 100%;
  max-width: 17rem;
}

.pokemon-type-container {
  line-height: 3rem;
  padding: .5rem 1.5rem;
  text-align: left;
}

.pokemon-type-div,
.pokemon-type-name-div {
  display: inline-block;
  vertical-align: top;
}

.pokemon-type-div {
  width: 4rem;
  height: 3rem;
}

.pokemon-type-name-div {
	font-size: 1.6em;
}