
.icon-menu:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-search-1:before { content: '\e805'; } /* '' */
.icon-block:before { content: '\e806'; } /* '' */
.icon-cd:before { content: '\e807'; } /* '' */
.icon-up-open-2:before { content: '\e808'; } /* '' */
.icon-info-circled:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-cog-1:before { content: '\e80d'; } /* '' */
.icon-doc-text-inv:before { content: '\e80e'; } /* '' */
.icon-female:before { content: '\e80f'; } /* '' */
.icon-male:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-user-1:before { content: '\e813'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e815'; } /* '' */
.icon-user-add:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-bell:before { content: '\e818'; } /* '' */
.icon-comment:before { content: '\e819'; } /* '' */
.icon-chat:before { content: '\e81a'; } /* '' */
.icon-list:before { content: '\e81b'; } /* '' */
.icon-th-list:before { content: '\e81c'; } /* '' */
.icon-th:before { content: '\e81d'; } /* '' */
.icon-th-large:before { content: '\e81e'; } /* '' */
.icon-down-open:before { content: '\e81f'; } /* '' */
.icon-up-big:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e821'; } /* '' */
.icon-plus-circled:before { content: '\e822'; } /* '' */
.icon-picture:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e824'; } /* '' */
.icon-star-empty:before { content: '\e825'; } /* '' */
.icon-heart:before { content: '\e826'; } /* '' */
.icon-heart-empty:before { content: '\e827'; } /* '' */
.icon-mail:before { content: '\e828'; } /* '' */
.icon-camera:before { content: '\e829'; } /* '' */
.icon-th-large-1:before { content: '\e82a'; } /* '' */
.icon-th-1:before { content: '\e82b'; } /* '' */
.icon-th-list-1:before { content: '\e82c'; } /* '' */
.icon-ok:before { content: '\e82d'; } /* '' */
.icon-home-1:before { content: '\e82e'; } /* '' */
.icon-trash-empty:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-lock-open:before { content: '\e835'; } /* '' */
.icon-minus:before { content: '\e836'; } /* '' */
.icon-minus-circled:before { content: '\e837'; } /* '' */
.icon-cancel-circled2:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-cancel-circled-1:before { content: '\e83a'; } /* '' */
.icon-cog-alt:before { content: '\e83b'; } /* '' */
.icon-wrench:before { content: '\e83c'; } /* '' */
.icon-right-open:before { content: '\e83d'; } /* '' */
.icon-left-open:before { content: '\e83e'; } /* '' */
.icon-down-open-1:before { content: '\e83f'; } /* '' */
.icon-up-open-3:before { content: '\e840'; } /* '' */
.icon-right-dir:before { content: '\e841'; } /* '' */
.icon-left-dir:before { content: '\e842'; } /* '' */
.icon-up-dir:before { content: '\e843'; } /* '' */
.icon-down-dir:before { content: '\e844'; } /* '' */
.icon-down-big:before { content: '\e845'; } /* '' */
.icon-left-big:before { content: '\e846'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-right-big:before { content: '\e848'; } /* '' */
.icon-up-big-1:before { content: '\e849'; } /* '' */
.icon-check:before { content: '\e84a'; } /* '' */
.icon-down-1:before { content: '\e84b'; } /* '' */
.icon-up-1:before { content: '\e84c'; } /* '' */
.icon-right-1:before { content: '\e84d'; } /* '' */
.icon-left-1:before { content: '\e84e'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-download-1:before { content: '\f02e'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */